@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=M+PLUS+Rounded+1c&display=swap");

/* .m-plus-rounded-1c-regular {
  font-fasmily: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  background-color: pink;
}

/* loader ---------------------------------- */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(245, 198, 198);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease;
}

#loader h1 {
  color: red;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 2px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

/* otp box -------------------------------- */
.otp-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.otp-box {
  width: 50px;
  height: 60px;
  text-align: center;
  font-size: 24px;
  border: 2px solid #702197;
  border-radius: 10px;
  outline: none;
  transition: 0.3s;
}

.otp-box:focus {
  border-color: rgb(221, 0, 255);
  box-shadow: 0 0 5px rgb(242, 0, 255);
}

button {
  border: 2px solid #702197;
}

/* Heading animation------------------------ */

.wrapper {
  /* border: 2px solid black; */
  display: inline-flex;
  margin-bottom: 20px;
}
.wrapper .static_txt {
  color: red;
  font-size: 30px;
  font-weight: 700;
}
.wrapper .dynamic_txt {
  margin-left: 7px;
  /* background-color: red; */
  line-height: 45px;
  height: 45px;
  overflow: hidden;
}
.dynamic_txt li {
  color: white;
  font-size: 30px;
  font-weight: 800;
  position: relative;
  top: 0;
  animation: slide 8s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -179px;
  }
}
.dynamic_txt li span {
  position: relative;
}
.dynamic_txt li span::after {
  content: "";
  position: absolute;
  background-color: pink;
  height: 110%;
  width: 100%;
  border-left: 2px solid red;
  left: 0;
  animation: typing 2s steps(9) infinite;
}
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -18px 0 18px;
  }
}
